body {
  background-color: #fcfaf7;
  font-family: 'VT323', monospace;
  font-size: 120%;
}

#container {
  padding-left: 1em;
}

a {
  text-decoration: none;
  color: #bab197;
  -webkit-transition: 500ms ease-in-out;
  -moz-transition: 500ms ease-in-out;
  -o-transition: 500ms ease-in-out;
  -ms-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

a:hover {
  color: #e2c46f;
  -webkit-transition: 500ms ease-in-out;
  -moz-transition: 500ms ease-in-out;
  -o-transition: 500ms ease-in-out;
  -ms-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}